body {
padding: 0;
margin: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 24px;
    background-color: #ADD8E6;
}

img {
    height: 200px
}

nav {
    border-bottom: 1px solid #ADD8E6;
    padding: 16px;
    background-color: orange;
}

a {
    text-decoration: none;
}

h1 {
    color: #CC5500;
}

table tr:nth-child(even) {
    background-color: #d3d3d3;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.div-link {
    color: #05445E;
}

#nav-link {
    color: white;
}
